# Rename this file to deploy.rb

# Fill slice_url in - where you're installing your stack to
role :app, "your-app-server.com"

# Fill user in - if remote user is different to your local user
# set :user, "username"

default_run_options[:pty] = true
